//1. Configuration and helpers
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
//@import '~bootstrap/scss/functions';
// 2. Vendors
//@import "~bootstrap/scss/bootstrap";
@import "~admin-lte/build/scss/adminlte";
@import "~admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.css";
@import "~select2/src/scss/core";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "~@ttskch/select2-bootstrap4-theme/src/layout";

// 3. Base stuff
@import 'base/base';
@import'base/fonts';
@import'base/typography';
@import'base/helpers';
// 4. Layout-related sections
@import 'layout/header';

// 5. Components
@import "components/cookie-consent";
@import "components/toaster";
@import "components/table";
@import "components/dropzone";
@import "components/avatars";
@import "components/iframe-preview";

// 6. Page-specific styles

// 7. Themes
@import 'themes/default';


